[submodule "simulating/seqan"]
	path = simulating/seqan
	url = https://github.com/seqan/seqan.git
[submodule "aux/other_tools/cdhit"]
	path = aux/other_tools/cdhit
	url = https://github.com/weizhongli/cdhit.git
[submodule "aux/other_tools/dunovo"]
	path = aux/other_tools/dunovo
	url = https://github.com/galaxyproject/dunovo.git
[submodule "aux/other_tools/rainbow"]
	path = aux/other_tools/rainbow
	url = https://github.com/ChongLab/rainbow.git
[submodule "aux/other_tools/starcode"]
	path = aux/other_tools/starcode
	url = https://github.com/gui11aume/starcode.git
[submodule "consensus/bam-readcount_v0.8.0"]
	path = aux/other_tools/bam-readcount_v0.8.0
	url = https://github.com/genome/bam-readcount.git
[submodule "consensus/bwa_v0.7.17"]
	path = aux/other_tools/bwa
	url = https://github.com/lh3/bwa
[submodule "consensus/sinvict"]
	path = aux/other_tools/sinvict
	url = https://github.com/sfu-compbio/sinvict.git
[submodule "aux/other_tools/UMI-tools"]
	path = aux/other_tools/UMI-tools
	url = https://github.com/CGATOxford/UMI-tools.git
[submodule "consensus/spoa"]
	path = consensus/spoa
	url = https://github.com/rvaser/spoa.git
